.bullet{
  &::before{
    content: "";
    display: inline-block;
    position: relative;
    top: calc(-0.1 * 1em);
    vertical-align: middle;
    height: 0.9em;
    margin-right: 10px;
    border-left: 5px solid #e5e5e5;
  }
}