.header {
  position: relative;
  width: 100%;
  min-height: 100px;
  max-height: 800px;
  background: linear-gradient(to bottom, #32343a 0%, #545761 100%);
  &__herou {
    margin-top: 40px;
    &> :last-child {
      margin-bottom: 80px;
    }
  }
}