.header {
  position: relative;
  width: 100%;
  min-height: 100px;
  max-height: 800px;
  background: linear-gradient(to bottom, desaturate(darken($color-accent-2, 30), 1.5) 0%, $color-accent-2 100%);
}

.header__herou {
  margin-top: 20px;
  
}