.herou {
  color: $color-accent-1;
  text-shadow: 1px 1px darken($color-accent-4, 40);
  &__title {
    font-size: 45px;
    color: inherit;
    font-weight: normal;
  }
  &__desc {
    color: inherit;
    font-size: 18px;
  }
}

.herou hr {
  border-top: 1px solid darken($color-accent-1, 20);
}