.requisite {
	display: flex;
	align-content: stretch;
	flex-wrap: wrap;
	box-sizing: border-box;
	min-height: 300px;
	&>* {
		width: 100%;
		border-bottom: 1px solid $color-accent-4;
		display: flex;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;
		&>* {
			color: $color-accent-3;
			width: 250px;
			flex-grow: 1;
			padding-left: 50px;
			&:first-child {
				font-weight: bold;
				width: 100px;
				flex-grow: 1; // text-align: right;
			}
		}
	}
}

@include bp-m {
	.requisite {
		width: 50%;
		border-left: 1px solid $color-accent-3;
		&>*:last-child {
			border-bottom: 1px solid transparent;
		}
	}
}