.service-nav__list {
  display: flex;
  justify-content: center;
}

.service-nav__item {
  text-decoration: none;
  color: $color-accent-2;
  width: 200px;
  background: transparent;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
	transition: ease .5s all;
	
  .icon {
		font-size: 6rem;
    fill: $color-accent-2;
		stroke: none;
		filter: drop-shadow(1px 1px 1px transparentize(#000, .8));
  }

  &:hover {
    background: $color-accent-2;
    cursor: pointer;

    .icon {
      fill: #fff;
    }

    .service-nav__title {
      color: #fff;
    }
  }
}

.service-nav__title {
  color: inherit;
}
