.contact__container
	.map
		.map__yandex
	.requisite
		.requisite__phohe
			span Телефон:
			span +7 (000) 000-00-00
		.requisite__mail
			span Почта:
			span mail@mail.ru
		.requisite__location 
			span Адрес:
			span address siti street