extend ../_layout-modal.pug

append opt
	- var service = serviceNav.mangal;

block modalContent

	+card('mangal.jpg', 'Мангал большой', "Описание для мангала большого")
		+cardTable('Крыша')
			| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto velit possimus illum ipsa obcaecati in tempore cum fugiat esse aspernatur!
		+cardTable('Жаровня')
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, exercitationem?
		+cardTable('Декоративная решетка')
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum placeat delectus assumenda nam quia eum ipsum maiores sed corporis voluptatibus molestiae, quo distinctio sit, mollitia ad cum aspernatur perferendis eius.
		+cardTable('Аксесуары')
			| Lorem, ipsum dolor.
	+card('mangal.jpg', 'Мангал большой', "Описание для мангала большого")
		+cardTable('Крыша')
			| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto velit possimus illum ipsa obcaecati in tempore cum fugiat esse aspernatur!
		+cardTable('Жаровня')
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, exercitationem?
		+cardTable('Декоративная решетка')
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum placeat delectus assumenda nam quia eum ipsum maiores sed corporis voluptatibus molestiae, quo distinctio sit, mollitia ad cum aspernatur perferendis eius.
		+cardTable('Аксесуары')
			| Lorem, ipsum dolor.
	+card('mangal.jpg', 'Мангал большой', "Описание для мангала большого")
		+cardTable('Крыша')
			| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto velit possimus illum ipsa obcaecati in tempore cum fugiat esse aspernatur!
		+cardTable('Жаровня')
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, exercitationem?
		+cardTable('Декоративная решетка')
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum placeat delectus assumenda nam quia eum ipsum maiores sed corporis voluptatibus molestiae, quo distinctio sit, mollitia ad cum aspernatur perferendis eius.
		+cardTable('Аксесуары')
			| Lorem, ipsum dolor.