extend ../_layout-modal.pug

append opt
	- var service = serviceNav.lestnica;

block modalContent
	+card('lestnica.jpg', 'Беседка большая', "Описание для беседки большой")
		+cardTable('Крыша')
			| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto velit possimus illum ipsa obcaecati in tempore cum fugiat esse aspernatur!