extend ../_layout-modal.pug

append opt
	- var service = serviceNav.reshetka;
	- var cardTitle =  'Title Card';
	- var cardDesc =  'Card description default';

block modalContent
	+cardTable('Крыша')
		| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto velit possimus illum ipsa obcaecati in tempore cum fugiat esse aspernatur!