extends ../_template.pug

append variables
	-var title = 'Home page';
	-var pageClass = 'home';



block content
	header#header.header
		.uk-container
			nav(class="uk-navbar-container uk-navbar-transparent" uk-navbar)
				.uk-navbar-left
					a(href="index.html").site-logo__icon.uk-navbar-item.uk-logo.site-logo
						+iconInline('site-logo')
				.uk-navbar-center
					ul.uk-navbar-nav
						li.active: a(href="/") Home
						li: a(href="/") Item
						li: a(href="/") Item
						li: a(href="/") Item
						li: a(href="/") Item
				.uk-navbar-right
					.phone
						.phone__icon
							span(uk-icon='icon:receiver')
							| +7 (000) 000-00-00
						