extends ../_template.pug

append variables
	-var title = 'Home page';
	-var pageClass = 'home';



block content
	header#header.header
		.uk-container
			//- navbar
			include ../includes/navbar.pug
			//- ================================
			.herou.header__herou
				h1(class="herou__title")
					| Металлоконструкции на заказ
				hr
				.herou__desc
					p Изготовление изделий из металла, любой сложности.
					p Мангалы нестандартных размеров, ограждения для цветников и клумб,
					p Навесы для автомобилей, садовая мебель для дачи и дома и многое другое.
	//- ========================================
	section.service-nav
		div(class="service-nav__list uk-flex-center uk-child-width-auto@m uk-child-width-1-3@s uk-child-width-1-2" uk-grid='')
			each item in serviceNav
				div.service-nav__item
					a(href=`#modal-${item.slug}` uk-toggle="")
						+iconInline(item.slug)
						.service-nav__title= item.title
	//- =======================================
	section#gallery.gallery
		.uk-container
			//- h2(class="gallery__title uk-heading-divider") Фотогаллерея
			div(class="gallery__container uk-slideshow" uk-slideshow="min-height: 300; max-height: 600")
				ul(class="gallery__items uk-slideshow-items")
					- var n=1;
						while n < 10
							- var count = n++;
							li: img(src="assets/img/rabota/" + count + ".jpg" alt= count class="gallery__item uk-cover" uk-cover="")
				a(class="gallery__icon-previous" href="#" uk-slideshow-item="previous")
					+iconInline('chevron-left')
				a(class="gallery__icon-next" href="#" uk-slideshow-item="next")
					+iconInline('chevron-right')
				ul(class="gallery__dotnav uk-slideshow-nav uk-dotnav uk-flex-center uk-margin")
	section#contact.contact
		.uk-container
			include ../includes/contact.pug
	//- modal content
	include ../includes/modal-mangal.pug
	include ../includes/modal-naves.pug
	include ../includes/modal-besedka.pug
	include ../includes/modal-lestnica.pug
	include ../includes/modal-mebel.pug
	include ../includes/modal-reshetka.pug